{% extends 'ticketapp/base.html' %}
{% block title %}Check In Page{% endblock %}
{% block content %}

 <!-- Today's Summary -->
 <h3>Today's Summary</h3>
 <table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Checked In</th>
            <th>Checked Out</th>
            <th>Not Checked In</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ today_checked_in }}</td>
            <td>{{ today_checked_out }}</td>
            <td>{{ today_not_checked_in }}</td>
        </tr>
    </tbody>
</table>


 <h3>Previous Days Summary</h3>
 <table class="table table-bordered text-center">
     <thead>
         <tr>
             <th>Date</th>
             <th>Total Checked In</th>
         </tr>
     </thead>
     <tbody>
         {% for day in previous_day_counts %}
         <tr>
             <td>{{ day.date }}</td>
             <td>{{ day.total_present }}</td>
         </tr>
         {% endfor %}
     </tbody>
 </table>
 <div class="text-center mt-4">
    <!-- Scan In Button -->
    <a href="{% url 'scan_page' %}?action=in" class="btn btn-success">Scan In</a>

    <!-- Scan Out Button -->
    <a href="{% url 'scan_page' %}?action=out" class="btn btn-danger">Scan Out</a>
    <a href="{% url 'details' %}" class="btn btn-primary">Details</a>
</div>
 {% endblock %}