{% extends 'ticketapp/base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Login to Event</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="event_name" class="form-label">User Name</label>
            <input type="text" id="event_name" name="event_name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        {% if error %}
        <div class="alert alert-danger mt-3">{{ error }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}
